.notify-span {
    background: #e81717;
    text-align: center;
    border-radius: 25%;
    justify-content: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.hidden-unread-message-count {
    display: none;
}