@model IEnumerable<ChatMVCApplication.Business.Models.UserDto>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="chat">
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Открыть чат", "Details", "Chat", new { toUserId = item.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>
</div>
